{% extends 'web/base.html' %}

{%block tema%}
<h1 class="mt-5">Cidades</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Nome do Clube:</th>
      <th>Endereço:</th>
      <th>Dimensão do Campo:</th>
      <th>Preço por Hora:</th>
    </tr>
  </thead>
  <tbody>
    {% for cidade in cidades %}
      <tr>
        <td>
          <a href="#"> {{cidade.nome}} </a>
        </td>
        <td>{{clube}} </td>
        <td>{{clube}} </td>
        <td>{{clube}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}